@import 'CharacterList';
@import 'CharacterCard';
@import 'CharacterDetail';
@import 'Filter';

.app-title {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 30px;
    font-family: 'Homemade Apple', cursive;
    @media all and (min-width: 768px) {
        font-size: 40px;
    } 
}

.app-filter {
    display: flex;
    justify-content: center;
}