@import 'CharacterList';
@import 'CharacterCard';
@import 'CharacterDetail';
@import 'Filter';

.app-title {
    text-align: center;
    color: #C1B400;
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 70px;
    font-family: 'Cinzel', serif;
    @media all and (min-width: 768px) {
        font-size: 40px;
    } 
}

.app-filter {
    display: flex;
    justify-content: center;
}