.detail-card {
    width: 180px;
    height: 360px;
    margin: 0 auto;
    border: 1px solid gray;
    background-color: #880a0a;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
    @media all and (min-width: 768px) {
        width: 500px;
        height: 250px;
        display: flex;
        width: 50vw;
    }
    @media all and (min-width: 1280px) {
        width: 300px;
        height: 250px;
        display: flex;
        width: 50vw;
    }
}

.detail-card__image {
    width: 100%;
    height: 230px;
    @media all and (min-width: 768px) {
        width: 200px;
        height: 100%;
    } 
}

.detail-card__info {
    text-align: center;
    color: white;
    @media all and (min-width: 768px) {
        padding-left: 20px;
        width: 100%;
        text-align: left;
    }    
}

.detail-card__name {
    font-size: 18px;
    @media all and (min-width: 768px) {
        margin-bottom: 30px;
        margin-top: 50px;
        font-size: 18px;
    } 
}

.detail-card__house {
    margin: 0;
    font-size: 12px;
    @media all and (min-width: 768px) {
        margin-bottom: 10px;
    } 
}

.detail-card__birth {
    margin: 0;
    font-size: 12px;
    @media all and (min-width: 768px) {
        margin-bottom: 10px;
    } 
}

.detail-card__patronus {
    margin: 0;
    font-size: 12px;
    @media all and (min-width: 768px) {
        margin-bottom: 10px;
    } 
}

.detail-card__state {
    margin: 0;
    font-size: 12px;
    margin-bottom: 10px;
}

.go-back {
    text-decoration: none;
    color: black;
    margin-left: 45%;
}

.gryffindor{
    height: 50px;
    width: 50px;
    background-image: url('./../images/Gryffindor.png');
    transform: translate(130px, -360px);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: contain;
    @media all and (min-width: 768px) {
        height: 70px;
        width: 150px;
        position: relative;
        transform: translate(25px, -15px);
    }
}

.hufflepuff {
    height: 50px;
    width: 50px;
    background-image: url('./../images/Hufflepuff.png');
    transform: translate(130px, -360px);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: contain;
    @media all and (min-width: 768px) {
        height: 70px;
        width: 150px;
        position: relative;
        float: right;
        transform: translate(25px, -15px);
    }
}

.ravenclaw {
    height: 50px;
    width: 50px;
    background-image: url('./../images/Ravenclaw.png');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(150px, -360px);
    @media all and (min-width: 768px) {
        height: 70px;
        width: 150px;
        position: relative;
        float: right;
        transform: translate(25px, -15px);
    }
}

.slytherin {
    height: 50px;
    width: 50px;
    background-image: url('./../images/Slytherin.png');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(150px, -360px);
    @media all and (min-width: 768px) {
        height: 70px;
        width: 150px;
        position: relative;
        float: right;
        transform: translate(25px, -15px);
    }
}