.characters__list {
    display: flex;
    max-width: 100vw;
    flex-wrap: wrap;
    margin-top: 50px;
    padding: 5px;
    justify-content: center;
}

.characters__list-item {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: orangered;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
}

.characters__list-item-link {
    text-decoration: none;
    color: white;
}

.message-results {
    text-align: center;
}